body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}

#time {
    position: relative;
}

.uk-badge {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    font-size: 20px;
}